<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>{{text.textTitle}}</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4"><strong>Text Id:</strong></div>
			<div class="col-sm-7">{{text.textId}}</div>
		</div>
		<div class="row">
			<div class="col-sm-4"><strong>Text Title:</strong></div>
			<div class="col-sm-7">{{text.textTitle}}</div>
		</div>
		<div class="row">
			<div class="col-sm-4"><strong>Text Content:</strong></div>
			<div class="col-sm-7">{{text.textContent}}</div>
		</div>
		<div class="row">
			<div class="col-sm-4"><strong>Text Difficulty Level:</strong></div>
			<div class="col-sm-7">{{text.difficultyLevel}}</div>
		</div>
	</div>
</div>